body {
  background-color: rgb(0, 153, 255);
}

div{
 padding-bottom: 50px;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 8%);
  width: 33%;
  padding: 40px;
  margin: auto;
  margin-top: 70px;
  height: 785px;
}
h1 {
  font-weight: bold;
  font-family: system-ui;
  padding-bottom: 22px;
}
label {
  font-family: system-ui;
  font-weight: 500;
  font-size: 23px;
  margin-left: 15px;
  position: relative;
  bottom: 16px;
}
input {
  width: 93%;
  height: 18px;
  border-radius: 6px;
  border: 2px solid rgb(187, 187, 187);
  padding: 16px;
  font-size: 19px;
}
p {
  font-family: system-ui;
    font-weight: 500;
    /* line-height: 18px; */
    font-size: 23px;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#button {
  width: 35%;
  height: 67px;
  background-color: rgb(0, 153, 255);
  border: 2px solid rgb(0, 153, 255);
  color: #fff;
  margin-left: 32%;
  font-size: 22px;
  border-radius: 65px;
  margin-top: 30px;
}
.material-icons {
  color: gray;
  transform: rotate(20deg);
}
i {
  color: grey;
    font-size: 17px;
    padding-left: 11px;
}
.file {
  padding-left: 8px;
  float: right;
  margin-bottom: 50px;
  margin-left: 0;
  font-size: 16px;
  /* margin-top: 0px; */
  font-weight: 400;
}

@media only screen and (max-width: 1440px) {
  .container {
    width: 40%;
    height: 610px;
    margin-top: 34px;
    padding: 18px;
    padding-left: 72px;
    margin-left: 403px;
  }
  h1 {
    font-size: 26px;
  }
  input {
    width: 85%;
    height: 11px;
    font-size: 13px;
  }
  div{
    padding-bottom: 26px;
  }
  i{
    font-size: 15px;
    padding-left: 10px;
  }
  label{
    font-size: 15px;
  }
  p{
    font-size: 15px;
  }
  .file{
    font-size: 13px;
    padding-left: 8px;
  }
  #button {
    font-size: 17px;
    width: 37%;
    height: 51px;
    margin-left: 165px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 54%;
    height: 600px;
    margin-top: 34px;
    padding: 30px;
    padding-left: 56px;
    margin-left: 184px;
  }
  h1 {
    font-size: 26px;
  }
  input {
    width: 85%;
    height: 11px;
    font-size: 13px;
  }
  div{
    padding-bottom: 30px;
  }
  i{
    font-size: 15px;
    padding-left: 10px;
  }
  label{
    font-size: 15px;
  }
  p{
    font-size: 15px;
  }
  .file{
    font-size: 13px;
    padding-left: 8px;
  }
  #button {
    width: 35%;
    height: 47px;
    margin-left: 165px;
    margin-top: 0px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 68%;
    height: 620px;
    margin-top: 34px;
    padding: 30px;
    margin-left: 90px;
  }
  h1 {
    font-size: 26px;
  }
  input {
    width: 85%;
    height: 11px;
    font-size: 13px;
  }
  div{
    padding-bottom: 33px;
  }
  i{
    font-size: 15px;
    padding-left: 10px;
  }
  label{
    font-size: 15px;
  }
  p{
    font-size: 15px;
  }
  .file{
    font-size: 13px;
    padding-left: 8px;
  }
  #button {
    width: 38%;
    height: 53px;
    margin-left: 165px;
    margin-top: 0px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    width: auto;
    height: 625px;
    margin-top: 34px;
    padding: 20px;
    margin-left: 0px;
  }
  h1 {
    font-size: 26px;
  }
  input {
    width: 85%;
    height: 8px;
    font-size: 13px;
  }
  div{
    padding-bottom: 33px;
  }
  i{
    font-size: 15px;
    padding-left: 10px;
  }
  label{
    font-size: 15px;
  }
  p{
    font-size: 15px;
  }
  .file{
    font-size: 13px;
    padding-left: 8px;
  }
  #button {
    width: 54%;
    height: 54px;
    margin-left: 76px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: auto;
    height: 620px;
    margin-top: 34px;
    padding: 20px;
    margin-left: 0px;
  }
  h1 {
    font-size: 26px;
  }
  input {
    width: 85%;
    height: 8px;
    font-size: 13px;
  }
  div{
    padding-bottom: 33px;
  }
  i{
    font-size: 15px;
    padding-left: 10px;
  }
  label{
    font-size: 15px;
  }
  p{
    font-size: 15px;
  }
  .file{
    font-size: 13px;
    padding-left: 8px;
  }
  #button {
    width: 56%;
    height: 52px;
    margin-left: 65px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    width: auto;
    height: 610px;
    margin-top: 34px;
    padding: 20px;
    margin-left: 0px;
  }
  h1 {
    font-size: 26px;
  }
  input {
    width: 85%;
    height: 5px;
    font-size: 13px;
  }
  div{
    padding-bottom: 33px;
  }
  i{
    font-size: 15px;
    padding-left: 10px;
  }
  label{
    font-size: 15px;
  }
  p{
    font-size: 15px;
  }
  .file{
    font-size: 13px;
    padding-left: 8px;
  }
  #button {
    width: 60%;
    height: 51px;
    margin-left: 45px;
    font-size: 15px;
  }
}
